<html>
	<head>
		<title>Poké Ball 3000 - Control Panel</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<img src="Pokeball.png" alt="Pokeball" height="300" width="300">
			<h1>{{title}}</h1>

			<h2>Control</h2>
			<a class="btn btn-primary" href="home.htm">Home</a>
			<a class="btn btn-primary" href="up.htm">Up</a>
			<a class="btn btn-primary" href="down.htm">Down</a>

			<h2>Animation</h2>
            <a class="btn btn-warning" href="animatie1.htm">Individual Animation</a>
			<a class="btn btn-warning" href="auto_ontest.htm">Group Animation</a>

			<h2>Positie (X: {{xpos}} Y: {{ypos}})</h2>
			<a class="btn btn-primary" href="xpos.htm">X Position</a>
			<a class="btn btn-primary" href="ypos.htm">Y Position</a>

			<h2>Step motor</h2>			
			<a class="btn btn-primary" href="auto_on.htm">Auto On</a>
			<a class="btn btn-primary" href="auto_off.htm">Auto Off</a>	

			<h2>Raspberry Controls</h2>
			<a class="btn btn-primary" href="shutdown.htm">Shutdown</a>
			<a class="btn btn-primary" href="reboot.htm">Reboot</a>
			<a class="btn btn-primary" href="lightcontrol.htm">Led On/Off</a>
		</div>
	</body>
</html>
